* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010418;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2304060e' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
}

.principal {
    display: flex;
    flex-direction: row;
    background-color: #060f3b;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2304060e' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
}

.topSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.midleSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links{
    padding: 5px 0px;
}
.links:hover {
    font-size: x-large;
    background-color: rgba(221, 69, 22);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(221, 69, 22);
    
}

.sobre-mim {
    background-color: #040c3a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000106' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    width: 100%;
    height: 153px;
    margin: 40px 40px 10px 40px;
    flex-direction: column;
    padding: 20px;
}

.bio {
    background-color: #040c3a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000106' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    width: 100%;
    margin: 10px 40px;
    flex-direction: column;
    padding: 20px;
}

.networking {
    background-color: #040c3a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000106' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    width: 100%;
    height: 394px;
    margin: 10px 40px;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
    overflow: auto;
}

.sidebar {
    background-color: #010418;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2304060e' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    order: -1;
    width: 245px;
    height: 832px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    font-size: large;
}



#avatar {
    margin-bottom: 40px;
    border-radius: 100%;
    width: 200px;
    
}

#avatar:hover{
    box-shadow: 0 0 20px rgba(221, 69, 22);
    width: 210px;
}

.main {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.imagem-card {
    margin: 20px 60px;
    width: 250px;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 11px;
    }
    /* se largura é menor ou igual a 599px */
    body {
        display: flex;
        flex-direction: column;
    }
    .principal {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .topSideBar{
        margin-bottom: 10px;
    }
    .sobre-mim {
        display: flex;
        width: 100%;
        height: 153px;
        margin: 40px 40px 10px 40px;
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
    }

    .bio {
        
        display: flex;
        width: 100%;
        /* height: 100%; */
        margin: 10px 40px;
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
    }

    .networking {
        
        display: flex;
        width: 100%;
        height: 394px;
        margin: 10px 40px;
        flex-direction: column;
        padding: 20px;
        height: 100%;
        justify-content: flex-start;
    }

    .sidebar {
        display: flex;
        width: 100%;
        height: 272px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 60px 20px;
    }

    #avatar {
        margin-bottom: 40px;
        border-radius: 100px;
        width: 120px;
    }
    #avatar:hover{
        width: 130px;
    }
}

h4 {
    color: rgb(221, 69, 22);
}
a {
    color: white;
    text-decoration: none;
}
p {
    color: white;
}
h3 {
    color: rgb(221, 69, 22);
}
